@font-face{
	font-family: 'Fira Code';
	src: url('/ttf/FiraCode-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Code';
	src: url('/ttf/FiraCode-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Code';
	src: url('/ttf/FiraCode-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Code';
	src: url('/ttf/FiraCode-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Copperplate Gothic';
	src: url('/ttf/Copperplate Gothic Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'fontello';
	src: url('/ttf/fontello.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'kgt';
	src: url('/ttf/kgt.ttf');
	font-weight: 500;
	font-style: normal;
}

@keyframes hhh{
	0%, 9%{background-image: url(/img/bg1.png);}
	10%, 19%{background-image: url(/img/bg2.png);}
	20%, 29%{background-image: url(/img/bg3.png);}
	30%, 39%{background-image: url(/img/bg4.png);}
	40%, 49%{background-image: url(/img/bg5.png);}
	50%, 59%{background-image: url(/img/bg6.png);}
	60%, 69%{background-image: url(/img/bg7.png);}
	70%, 79%{background-image: url(/img/bg8.png);}
	80%, 89%{background-image: url(/img/bg9.png);}
	90%, 99%{background-image: url(/img/bg10.png);}
	100%{background-image: url(/img/bg1.png);}
}