body{
	margin: 0;
	background-color: #fff;
}
.bgs{
	animation: hhh 100s;
	animation-iteration-count: infinite;
	background: url(/img/bg1.png) no-repeat center center fixed;
	background-size: cover;
}
.init,#msg,.s{font-family: '微软雅黑';}
.big,.name{
	font-family: 'Copperplate Gothic';
	font-weight: lighter;
}
.head{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	box-shadow: 0px 0px 10px #222;
}
.item{
	padding-left:1.25rem;
	padding-right:1.25rem;
	line-height:2.4375rem;
	margin: 0;
}
.tit{
	font-family: 'Copperplate Gothic';
	font-size: 2em;
	font-weight: bold;
	float: left;
}
.name{
	float: right;
	text-align: center;
	position: relative;
	margin-right: 50px;
	transition: all .3s;
}
.name:hover{
	background-color: #eee;
	cursor: pointer;
}
.name:before{
	content: "";
	width: 100%;height: 3px;
	background-color: #39C8BB;
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	transition: all .3s;
}
.name:hover:before{
	opacity: 1;
}
.ops{
	margin: 0;
	padding: 0;
	display: none;
	background-color: #fff;
}
.ops li{
	padding: 15px;
	list-style-type: none;
	font-family: 'Copperplate Gothic';
	width: 150px;
	position: relative;
}
.ops li:hover{
	background-color: #eee;
	cursor: pointer;
}
.ops li:before{
	content: "";
	position: absolute;
	left: 0;
	 top: 0;
	 width: 5px;
	height: 100%;
	opacity: 0;
}
.ops li:hover:before{
	background-color: #39C8BB;
	opacity: 1;
}
.main{
	text-align: left;
	padding-top: 80px;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.at{
	text-decoration: none;
}
.at:before{
	content: "@";
	color: black;
}
.s{
	position: relative;
	animation: fadein 1s;
}
.init{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	transition: all .5s;
}
.s:after{
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0; left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(255, 255, 255, 0));
	border-radius: 100px;
}
.notice{
	box-shadow: 0px 0px 100px #999;
	position: fixed;
	z-index:1;
	top: 40%;
	left: 50%;
	margin: -141px 0 0 -301px;
	width: 600px;
	height: 280px;
	text-align:center;
	background-color:#F4F4F4;
	overflow:hidden;
	display: none;
}
.but{
	background-color: #39C8BB;
	border: 0;
	width: 70px;
	height: 30px;
	font-weight: lighter;
	margin: 5px;
	border: 1px solid #333;
	transition: all 1s;
}
.but:hover{
	background-color: #55bbee;
	cursor: pointer;
}
code{
	font-family: 'Fira Code';
	font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
	text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
	word-wrap: break-word;
	background-color: #eee;
}
::selection{
	background-color: #777;
}
::-moz-selection{
	background-color: #777;
}
@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
a{
	text-decoration: none;
	color: #1576F5;
	transition: all .3s;
}
a:hover{
	text-decoration: underline;
	color: #ff6666;
}
.block{
	position: fixed;
	z-index: -1;
}
.send-box{
	border: 2px solid #ccc;
	background-color: #fff;
}
.init p{
	margin: 0;
}
blockquote{
	margin: 0;
	background-color: rgba(204, 204, 204, .5);
	padding: 16px 40px 16px 40px;
	border-left: 5px solid #39C8BB;
}
.toolbar{
	float: left;
	padding: 0;
	margin-top: 10px;
	margin-left: 5px;
}
.toolbar>li{
	list-style: none;
	display: inline-block;
	cursor: pointer;
}
.toolbar img{
	transition: all .3s;
}
.toolbar img:hover{
	transform: rotate(180deg);
}
.toolbar img{
	width: 30px;
}
.init h1,.init h2,.init h3,.init h4,.init h5,.init h6{
	position: relative;
	display: inline-block;
	font-weight: lighter;
	margin-bottom: 20px;
	margin-top: 10px;
}
.init h1:after,.init h2:after,.init h3:after,.init h4:after,.init h5:after,.init h6:after{
	content: "]";
	position: absolute;
	top: 0; right: 0;
	opacity: 0;
	transition: all .5s;
}
.init h1:before,.init h2:before,.init h3:before,.init h4:before,.init h5:before,.init h6:before{
	content: "[";
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	transition: all .5s;
}
.init h1:hover:after,.init h2:hover:after,.init h3:hover:after,
.init h4:hover:after,.init h5:hover:after,.init h6:hover:after{
	right: -20px; opacity: 1;
}
.init h1:hover:before,.init h2:hover:before,.init h3:hover:before,
.init h4:hover:before,.init h5:hover:before,.init h6:hover:before{
	left: -20px; opacity: 1;
}
.init h1,.init h2,.init h3,
.init h4,.init h5,.init h6{
	border-bottom: 2px solid #777;
}
.win10_button{
	outline: 1px solid rgb(137, 137, 137);
	outline-offset: 0px;
	border: none;
	background-color: rgb(225, 225, 225);
	margin: 10px;
	transition: all .3s;
	text-align: center;
	cursor: pointer;
}
.win10_button:focus{
	outline: 2px solid rgb(0, 120, 215);
	outline-offset: -1px;
}
.win10_button:hover{
	outline: 1px solid rgb(0, 120, 215);
	outline-offset: 0px;
	background-color: rgb(229, 241, 251);
}