body{
	margin: 0;
	background-color: #fff;
}
.bgs{
	animation: hhh 100s;
	animation-iteration-count: infinite;
	background: url(/img/bg1.png) no-repeat center center fixed;
	background-size: cover;
}
.name,#msg,.s{font-family: 'Microsoft Yahei';}
.big{
	font-family: 'Copperplate Gothic';
	font-weight: lighter;
}
.head{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ccc;
}
.item{
	padding-left:1.25rem;
	padding-right:1.25rem;
	line-height:2.8375rem;
	margin: 0;
}
.tit{
	font-family: 'Copperplate Gothic';
	font-size: 2em;
	font-weight: lighter;
	display: inline-block;
}
.name{
	float: right;
	text-align: center;
	position: relative;
	margin-right: 50px;
	transition: all .3s;
}
.name:hover{
	background-color: #eee;
	cursor: pointer;
}
.name:before{
	content: "";
	width: 100%;height: 3px;
	background-color: #39C8BB;
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
	transition: all .3s;
}
.name:hover:before{
	opacity: 1;
}
.main{
	text-align: left;
	padding-top: 60px;
	word-wrap: break-word;
	white-space: pre-wrap;
	width: 90%;
	min-height: 100%;
}
.at{
	text-decoration: none;
}
.at:before{
	content: "@";
	color: black;
}
.s{
	position: relative;
	border-top: 1px solid #ccc;
	animation: fadein 1s;
	padding-top: 20px;
	padding-bottom: 20px;
}
.init,.txt{
	transition: all .5s;
}
.notice{
	box-shadow: 0px 0px 100px #999;
	position: fixed;
	z-index:1;
	top: 40%;
	left: 50%;
	margin: -141px 0 0 -301px;
	width: 600px;
	height: 280px;
	text-align:center;
	background-color:#F4F4F4;
	overflow:hidden;
	display: none;
}
.but{
	background-color: #39C8BB;
	border: 0;
	width: 70px;
	height: 30px;
	font-weight: lighter;
	margin: 5px;
	border: 1px solid #333;
	transition: all 1s;
}
.but:hover{
	background-color: #55bbee;
	cursor: pointer;
}
code{
	font-family: 'Fira Code';
	font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
	text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
	word-wrap: break-word;
	background-color: #eee;
}
::selection{
	background-color: #777;
}
::-moz-selection{
	background-color: #777;
}
@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
a{
	text-decoration: none;
	color: #1576F5;
	transition: all .3s;
}
a:hover{
	text-decoration: underline;
	color: #ff6666;
}
.block{
	position: fixed;
	z-index: -1;
}
.send-box{
	border: 2px solid #ccc;
	background-color: #fff;
}
.init p{
	padding-top: 4.8px;
	padding-bottom: 4.8px;
	margin:0;
}
blockquote{
	margin: 0;
	background-color: rgba(204, 204, 204, .5);
	padding: 16px 40px 16px 40px;
	border-left: 5px solid #39C8BB;
	font-style: italic;
}
.toolbar{
	float: left;
	padding: 0;
	margin-top: 10px;
	margin-left: 5px;
}
.toolbar>li{
	list-style: none;
	display: inline-block;
	cursor: pointer;
}
.toolbar img{
	transition: all .3s;
}
.toolbar img:hover{
	transform: rotate(180deg);
}
.toolbar img{
	width: 30px;
}
.init h1,.init h2,.init h3,.init h4,.init h5,.init h6{
	font-weight: lighter;
	margin-bottom: 20px;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid #777;
}
.win10_button{
	background-color: #5f9fd6;
	border-radius: 40px;
	transition: all .3s;
	outline: none;
	border:none;
	cursor: pointer;
}
.win10_button:hover{
	background-color: #5faaea;
	box-shadow: 0px 0px 4px #5faaea;
}
#menu{
	position: absolute;
	margin-right: 20px;
	right: 20px;
	display: none;
}
.menu-bar{margin: 0;box-shadow: 0px 0px 10px #ccc;width: 200px;padding: 3px 0px 3px 0px;background-color: #fff;}
.menu-bar li{list-style: none;position: relative;margin:0;padding: 0;cursor: pointer;}
.menu-bar .link{padding: .5rem;border-left: 3px solid #fff;transition: all .3s;
	margin: 0;display: block;color: black;text-decoration: none;}
.menu-bar .link:hover{border-left: 3px solid #39C8BB;background-color: #eee;}
.menu-bar .hr{background-color: #ccc;border-top: 3px solid #fff;border-bottom: 3px solid #fff;height: 2px;display: block;}
.logout-icon:before{content: "\e844";padding-right: .5rem;}
.profile-icon:before{content: "\e80b";padding-right: .5rem;}
.notice-icon:before{content: "\e881";padding-right: .5rem;}
.upload-icon:before{content: "\e82c";padding-right: .5rem;}
.menu-icon-1:after{content: "\E85A";padding-left: .5rem;}
.menu-icon-2:after{content: "\E857";padding-left: .5rem;}
[class*="-icon"]:before,[class*="-icon"]:after{font-family: fontello;}
#msg{
	border: none; outline: none;
	width: 100%; max-width: 100%;
	height: 150px; float: top;
	padding: 0; margin: 0;
}
.lv0{color: gray;}
.lv1{color: blue;}
.lv2{color: lime;}
.lv3{color: red;}
.lv4{color: purple;}
.lv5{color: purple;}
.tx{
	border-radius: 60px;
	width: 60px;
	float: left;
}
.fq{
	margin-left: 75px;
}
.ssss{
	border-top: 1px solid #ccc;
	padding-top: 20px;
}
.txt{
	margin-bottom: 5px;
}
.tm{color: #aaa;padding-left: 5px;}